.profile__button-edit {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    background-image: url('../../../images/edit-vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: .5s;
}

.profile__button-edit:hover {
    opacity: .6;
}


@media screen and (min-width: 768px) {
    .profile__button-edit {
        min-width: 24px;
        min-height: 24px;
        margin-left: 13px;
    }
}