.cards__button-delete {
    background-image: url("../../../images/cards/delete.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 19px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .5s;
}

.cards__button-delete:hover {
    opacity: .5;
}