.form__item_type_password {
    height: 27px;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 216px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #CCCCCC;
}

@media screen and (max-width: 768px) {
    .form__item_type_password {
        margin-bottom: 173px;
    }
}