/* Normalize */
@import url(./vendor/normalize.css);

/* Fonts */
@import url(./vendor/fonts/fonts.css);

/* Page */
@import url(./blocks/page/page.css);

/* Header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__item/header__item.css);
@import url(./blocks/header/__container/header__container.css);

/* Profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__heading/profile__heading.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);

/* Cards */
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__heading/cards__heading.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__button/cards__button-like.css);
@import url(./blocks/cards/__button/_active/cards__button-like_active.css);
@import url(./blocks/cards/__button-delete/cards__button-delete.css);
@import url(./blocks/cards/__like-container/cards__like-container.css);
@import url(./blocks/cards/__like-counter/cards__like-counter.css);

/* Footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* Popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__container/_type/popup__container_type_image.css);
@import url(./blocks/popup/__container/_type/popup__container_type_delete.css);
@import url(./blocks/popup/__container/_type/popup__container_type_avatar.css);



/* Form */
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_type/form__title_type_delete.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/form/__item/_type/form__item_type_job.css);
@import url(./blocks/form/__item/_type/form__item_type_name.css);
@import url(./blocks/form/__item/_type/form__item_type_error.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_disabled/form__button_disabled.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/_type/form_type_delete.css);
@import url(./blocks/form/_type/form_type_login.css);
@import url(./blocks/form/__title/_type/form__title_type_login.css);
@import url(./blocks/form/__item/_type/form__item_type_email.css);
@import url(./blocks/form/__item/_type/form__item_type_password.css);
@import url(./blocks/form/__button/_type/form__button_type_login.css);
@import url(./blocks/form/__link/form__link.css);

/* Button */
@import url(./blocks/button/button.css);
